include LICENSE
include README.md
include requirements.txt
recursive-include CSA/data *
recursive-include CSA/output/data *
recursive-include CSA/providers/aws *
recursive-include CSA/providers/aws/rules *
recursive-include CSA/providers/azure *
recursive-include CSA/providers/azure/rules *
recursive-include CSA/providers/gcp *
recursive-include CSA/providers/gcp/rules *
recursive-include CSA/providers/aliyun *
recursive-include CSA/providers/aliyun/rules *
recursive-include CSA/providers/oci *
recursive-include CSA/providers/oci/rules *
